body {
    background-color: #232528;
    color: #EAF6FF;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.repo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
}

.repo-card {
    background-color: #323438;
    padding: 20px; /* Add padding to the card to create space for text */
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #EAF6FF;
    transition: transform 0.3s;
}

.repo-card:hover {
    transform: translateY(-5px);
}

.repo-image {
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 6px;
    margin: 0;
    padding: 0;
}

.repo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.repo-content {
    padding-top: 10px; /* Add some padding above the text */
}


b {
    font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FFA400;
    margin-top: 24px;
    margin-bottom: 16px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4,
h5,
h6 {
    font-size: 1em;
}

a {
    color: #009FFD;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    padding-left: 20px;
}

code {
    background-color: #2A2A72;
    border-radius: 6px;
    color: #d2a8ff;
    padding: 0.2em 0.4em;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

pre code {
    padding: 0;
}

pre {
    background-color: #2A2A72;
    border-radius: 6px;
    padding: 0.2em 0.4em;
}

blockquote {
    background-color: #2A2A72;
    border-left: 4px solid #30363d;
    padding-left: 2em;
    margin-left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    color: #8b949e;
}
